
<div class="page-header" style="margin-left: 30px;">
  <h3>Active Compiler</h3>
  <h6>{{user}}</h6>
</div>
<div *ngIf="user" class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Code</h3>
        </div>
        <div class="panel-body">
          <code>Loading...</code>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Compile Errors</h3>
        </div>
        <div class="panel-body">
          <errors>Loading...</errors>
        </div>
      </div>
    </div>
  </div>
</div>
